body {
    margin-top: 10em;
    text-align: center;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#calculator {

    width: 300px;
    padding: 50px;
    background-color: rgb(46, 23, 65);
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(46, 23, 65) ;

}

input.btn {
    
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;

    font-size: 150%;
    box-shadow: 3.5px 3.5px 2px rgb(118, 98, 134) ;
    font-family: sans-serif;
}

#result {

    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: right;
    border-radius: 5px;
    font-family: sans-serif;
}

h1{

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.842);
   
}